<h1>Explore</h1>

<style type="text/css">
body {
  background-image: url('https://images.unsplash.com/photo-1432250767374-ee19cba37b52?auto=format&fit=crop&w=1518&q=80');
    }
</style>

<div class="container">
<div class="row">
  <% rappers.forEach((rapper) => { %>
    <section class="col-lg-6">
    <div class="row">
    <div class="col-8">
      <a href="/rappers/<%= rapper.id %>"><h3><%= rapper.name %></h3></a>
      <img src="<%= rapper.image %>" class="img-fluid" alt="<%= rapper.name %>">
    </section>
  <% }); %>
      </div>
    </div>
  </div>
</section>
