<%# <---Add rapper---> %>

<div class=newRapper>
  <h1>New Rapper</h1>

<div class="row">
  <form method="POST" action="/rappers">
    <div>
      <label for="name">Name</label>
      <input class="u-full-width" type="text" name="name" id="name">
    </div>
    <div>
      <label for="image">Image</label>
      <input class="u-full-width" type="text" name="image" id="image">
    </div>
    <br>
      <button class="button-primary u-full-width">Create</button>
    </form>
  </div>
</div>
