<%# <---Add rapper---> %>
<h1>New Rapper</h1>

<style type="text/css">
body {
  background-image: url('https://images.unsplash.com/photo-1466554735730-6281a8638806?auto=format&fit=crop&w=1950&q=80');
}
</style>

<div class="row">
  <form method="POST" action="/rappers">
    <div>
      <label for="name">Name</label>
      <input class="u-full-width" type="text" name="name" id="name">
    </div>
    <div>
      <label for="image">Image</label>
      <input class="u-full-width" type="text" name="image" id="image">
    </div>
    <div>
      <label for="bio">Bio</label>
      <textarea class="u-full-width" name="bio"></textarea>
    </div>
      <button class="button-primary u-full-width">Create</button>
  </form>
</div>
