

  <% if (locals.message) { %>
    <div class="alert alert-primary">
      <%= message %>
    </div>
  <% } %>
      <% if (locals.isLoggedIn) { %>
        <h1></h1>

        <% } else { %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
          <h1>Create a new account</h1>
          <h2>Already have an account?</h2> <button type="button" name="button"> <a class="nav-link" href="/login">Sign in</a> </button>
      <form method="POST" action="/register">
        <br>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
          <label for="passwordConfirmation">Password Confirmation</label>
          <input type="password" class="form-control" placeholder="Password" name="passwordConfirmation">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Create Account</button>
      </form>
    </div>
  </div>
  <% } %>

<% for (const type in messages) { %>
 <p class="alert alert-<%= type %>"><%= messages[type] %></p>
<% } %>
