<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>r'App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <script src="/js/app.js" charset="utf-8"></script>
</head>
<body>

  <% if(locals.isHomepage && !locals.isLoggedIn) { %>
    <style>
    .jumbotron {
      margin-right: 5rem;
      margin-left: 5rem;
    }
    .navbar {
      margin-right: 5rem;
      margin-left: 5rem;
    }
    </style>

    <div class="jumbotron">
      <h1 class="display-3 text-center">Connect on R'app</h1><br>
      <p class="lead text-center">Stream, discover & post tracks by your favourite rappers.</p>
      <hr class="my-4 text-center">
      <!-- <p class=" lead text-center">Connect with other users, like and comment on other their posts</p> -->
      <p class="lead text-center">
        <a class="btn btn-primary btn-md" href="/login" role="button">Sign in</a>
      </p>
    </div>


    <% } %>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbar-inverse">
      <% if (locals.isLoggedIn) { %>
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rappers">Explore Rappers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rappers/new">Add Rapper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rappers/users">Users</a>
          </li>
          <% } else { %>
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <% } %>
          </ul>
          <ul class="navbar-nav">
            <% if (locals.isLoggedIn) { %>
              <li class="nav-item">
                <li class="nav-item">
                  <a class="nav-link" href="/secret">Your Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Sign in</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Create account</a>
                  </li>
                  <% } %>
                </ul>
              </div>
            </nav>
            <main class="container">
              <%- body %>
            </main>
          </body>
          </html>
